
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}
img{
    margin-bottom: -3px;
}
#content_wrapper a, #content_wrapper a:visited{
    color: #fff;
    text-decoration: none;
}
/******************
/**** Isotope ****/
.grid-sizer, .grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
.grid-item--width3 { width: 75%; }
.grid-item--width4 { width: 100%; }

/******************
/**** Grid ****/
.grid_1{ width: 25%; }
.grid_2{ width: 50%; }
.grid_3{ width: 75%; }
.grid_4{ width: 100%;}

/******************
/**** Cover ****/
#page_cover{
    background-image: url("images/bg.png");
    z-index: -1;
}
    .cover_pattern{
        background-image: url("images/bg_pattern.png");

    }
        #page_cover, .cover_pattern{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    #page_cover header{
        /*z-index: 2;*/

        color: #fff;
        text-align: center;
        font-family: 'PT Serif Caption', serif;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -190px);
        /*border: solid 1px blue;*/
    }
        .d3_logo{
            width: 144px;
            height: 144px;
            background-image: url("images/d3_logo.png");

            margin-bottom: 8px;

            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .cover_title{
            margin: 0;
            padding: 0;

            font-style: italic;
            font-size: 62px;
        }
        .cover_separator{
            margin: 8px;
        }
        .cover_description{
            text-transform: uppercase;
        }

/******************
/**** Content ****/
#page_content{
    padding-top: 70%;
    /*border: solid 1px red;*/
    /*z-index: 3;*/
}
    .content_top_menu{
        /*border: solid 1px blue;*/

        color: #929292;
        font-weight: 300;
        font-size: 15px;

        position: absolute;
        right: 0;
        bottom: 0;

        padding-right: 110px;
        background: #131313;

        z-index: 1000;
    }
        .content_top_menu a{
            color: #929292;
            text-decoration: none;
        }
        .menu-item {
            display: inline-block;
            padding: 40px 20px;
        }
            .menu-item:first-child{
                padding-left: 40px;
            }
        .menu-item.github{
            position: absolute;
            right: 0;
            top: 0;

            width: 90px;
            height: 100%;
            padding: 0;
            overflow: hidden;
            text-indent: -1000px;

            background: url("images/github-menu-logo.png") no-repeat 50% 50% #000;
        }

/************************
/**** Content Boxes ****/
#content_wrapper{
    position: relative;
}
    .box_title{
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        font-size: 26px;
        margin: 0;
        padding: 52px 40px 20px 40px;
    }
    .content_box{
        color: #fff;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
    }
        .content_box img{
            width: 100%;
            height: auto;
        }
    .content_tittle, .contributer_meta .name{
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        padding: 0;
        margin:0;
    }
        .content_box.featured .content_meta{
            color: #fff;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -40%);

            padding: 58px 58px 78px 58px;
            background-color:rgba(215, 51, 97, 0.9);
        }
            .content_featured .content_tittle{
                font-size: 28px;
                font-weight: normal;
            }
    .content_description{
        font-size: 14px;
        margin-top: 16px;
        font-weight: 300;
    }

.who_contributed{
    background: #fff;
}
    .who_contributed ul, .who_contributed li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        .who_contributed li.gray{
            background: #fcfcfc;
        }
        .who_contributed li{

        }
    .contributor img, .contributer_meta{
        display: inline-block;
        vertical-align: top;
    }
        .contributor img{
            width: 94px;
            height: 94px;
        }
        .contributer_meta{
            padding: 16px 20px 0 20px;
            max-width: calc(100% - 146px);
        }
            .contributer_meta .posts_count{
                font-style: italic;
                font-size: 13px;
                font-weight: 500;
                color: #c3c3c3;

                margin: 2px 0 6px;
            }
            .contributer_meta .reaction{
                display: inline-block;
                margin-right: 2px;
            }
                .contributer_meta .reaction:last-child{
                    margin-right: 0;
                }
            .contributer_meta .reaction img{
                height: 12px;
                width: auto;
            }

.content_box.normal{
    overflow: hidden;
}
    .content_box.normal:hover{
        overflow: inherit;
    }
    .content_box.normal .content_tittle{
        font-size: 20px;
    }
    .content_box.normal .content_meta{
        position: absolute;
        bottom: 0;
        padding: 34px;
    }
        .content_box.normal:hover .content_meta{
            background-color:rgba(215, 51, 97, 0.9);
        }
        .content_box.normal .content_description{
            display: none;
            visibility: hidden;
        }
            .content_box.normal:hover .content_description{
                display: block;
                visibility: visible;
                clear: both;
            }

    .content_box.normal .content_image:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0, 0.7);
        transition: all .3s linear;
    }
        .content_box.normal:hover .content_image:before{
            display: none;
            visibility: hidden;
        }




/******************
/**** Footer ****/
footer{
    margin-top: 50px;
    padding: 20px;
    background: #131313;
}
