
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}
img{
    margin-bottom: -4px;
}
iframe{
    margin-bottom: -5px;
    background: #fff;
}
#content_wrapper a, #content_wrapper a:visited{
    text-decoration: none;
}
/******************
/**** Isotope ****/
.grid-sizer, .grid-item {
    width: 285px;
    margin: 0 15px 15px 0;
}
    .grid-item{
        /*background: #fff;*/
        border-radius: 0px 0px 3px 3px;
        overflow: hidden;
    }

/******************
/**** Canvas ****/

canvas { position: fixed; }

.pattern{
    background:url('images/pattern.png') repeat;
    width:100%;
    height:100%;
    position:fixed;
    z-index: 1;
    opacity: 0.5;
}


/******************
/**** Cover ****/

html:not(.canvas) #page_cover {
    background-image: url("images/bg.png");
}

#page_cover{
    z-index: -1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);*/
}
    .cover_pattern{
        background-image: url("images/bg_pattern.png");
        /*opacity: 0.2;*/

    }
        #page_cover, .cover_pattern{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
        }

    #page_cover header{
        /*z-index: 2;*/

        color: #fff;
        text-align: center;
        font-family: 'PT Serif Caption', serif;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -190px);

        z-index: 9999;
        /*border: solid 1px blue;*/
    }
        .d3_logo{
            width: 144px;
            height: 144px;
            background-image: url("images/d3_logo.png");

            margin-bottom: 8px;

            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .cover_title{
            margin: 0;
            padding: 0;

            font-style: italic;
            font-size: 62px;
        }
        .cover_separator{
            margin: 8px;
        }
        .cover_description{
            margin-top: 10px;
            font-size: 13px;
            text-transform: uppercase;
        }

/******************
/**** Content ****/
#page_content{
    z-index: 9;
    position: relative;
}
    .content_top_menu{

        color: #929292;
        font-weight: 300;
        font-size: 15px;

        position: fixed;
        right: 0;
        top: 0;

        padding-right: 110px;
        background: #131313;

        z-index: 1000;
    }
        .content_top_menu a{
            color: #929292;
            text-decoration: none;
        }
        .menu-item {
            display: inline-block;
            padding: 40px 20px;
        }
            .menu-item:first-child{
                padding-left: 40px;
            }
        .menu-item.github{
            position: absolute;
            right: 0;
            top: 0;

            width: 90px;
            height: 100%;
            padding: 0;
            overflow: hidden;
            text-indent: -1000px;

            background: url("images/github-menu-logo.png") no-repeat 50% 50% #000;
        }

/************************
/**** Content Boxes ****/
#content_wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 250px;
}
    .box_title{
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        font-size: 26px;
        margin: 0;
        padding: 52px 40px 20px 40px;
    }
    .content_box{
        color: #fff;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        height: auto;
    }
        .content_box img{
            width: 100%;
            height: auto;
        }
    .content_tittle, .contributer_meta .name{
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        padding: 0;
        margin:0;
    }
    .content_meta{
        background: #fff;
    }
        .content_tittle{
             font-size: 24px;
            font-weight: normal;
            padding: 26px 30px 14px 30px;
        }
            a .content_tittle, a:visited .content_tittle{
                color: #000;
            }
    .content_description{
        color:#1b1b1b;
        padding: 14px 30px 30px 30px;
    }
    .content_image {
        background-color: #fff;
    }
    .content_url{
        padding: 10px 16px;
        border-radius: 10px;
        margin: 0 26px 10px 26px;
    }
        .content_description, .content_url{
            font-size: 12px;
            font-weight: 300;
        }

            a .content_url, a:visited .content_url,
            a .content_description, a:visited .content_description{
                color:#292929;
            }


.content_reactions{
    border-radius: 2px 2px 0 0;
    border-bottom: 2px solid #6fd09c;
    height: 44px;
    max-height: 44px;
    overflow: hidden;
}
    .content_reactions .reactions_title{
        background: #6fd09c;
        padding: 10px 16px;
        font-size: 12px;
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        line-height: 12px;
        display: none;
    }
        .content_box:hover .content_reactions .reactions_title{
            display: inline-block;
            max-width: 18%;
        }
            .content_box:hover .content_reactions .reactions{
                max-width: 54%;
                padding-right: 8px;
            }
                .content_box:hover .content_reactions .reactions .reaction:last-child{
                    margin-right: 10px;
                }

        .content_reactions .reactions_title strong{
            display: block;
            font-weight: normal;
            font-size: 16px;
        }
    .content_reactions .reactions{
        background: #f1f1f1;
        border-radius: 2px 2px 0 0;
        margin: 0;
        padding: 8px 20px;
        display: inline-block;
        max-height: 28px;
        min-height: 28px;
        overflow: hidden;
    }
        .content_reactions .reactions, .content_reactions .reactions_title{
            vertical-align: bottom;
            margin-right: -5px;
        }
        .content_reactions .reaction{
            list-style: none;
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 6px;
            font-size: 26px;
        }
            .content_reactions .reaction:last-child{
                margin-right: 0;
            }
    .content_reactions img{
        width: auto;
        height: 26px;
    }




/*
.who_contributed{
    background: #fff;
}
    .who_contributed ul, .who_contributed li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        .who_contributed li:nth-child(odd) {
            background: #fcfcfc;
        }

    .contributor img, .contributer_meta{
        display: inline-block;
        vertical-align: top;
    }
        .contributor img{
            width: 94px;
            height: 94px;
        }
        .contributer_meta{
            padding: 16px 20px 0 20px;
            max-width: calc(100% - 146px);
        }
            .contributer_meta .posts_count{
                font-style: italic;
                font-size: 13px;
                font-weight: 500;
                color: #c3c3c3;

                margin: 2px 0 6px;
            }
            .contributer_meta .reaction{
                display: inline-block;
                margin-right: 2px;
            }
                .contributer_meta .reaction:last-child{
                    margin-right: 0;
                }
            .contributer_meta .reaction img{
                height: 12px;
                width: auto;
            }
*/
.content_box{
    overflow: hidden;
}

    .content_box .content_tittle{
        font-size: 20px;
        line-height: 24px;
    }

        .content_box .content_description{
            background: #fcfcfc;
        }

.grid-item.simple .content_meta {
    min-height: 110px;
}

.grid-item.simple:nth-child(odd) .content_meta {
        background: #d73360;
        color: #fff;
    }

    .grid-item.simple:nth-child(odd) .content_url {
        background: #d22f5c;
    }

    .grid-item.simple:nth-child(odd) a .content_tittle, .grid-item.simple:nth-child(odd) a:visited .content_tittle {
        color: #fff;
    }

    .grid-item.simple:nth-child(odd) a .content_url, .grid-item.simple:nth-child(odd) a:visited .content_url {
        color: #ffdee7;
    }


.grid-item.simple:nth-child(even) .content_meta {
        background: #131313;
    }

    .grid-item.simple:nth-child(even) .content_url {
        background: #222;
    }

    .grid-item.simple:nth-child(even) a .content_tittle, .grid-item.simple:nth-child(even) a:visited .content_tittle {
        color: #c6c6c6;
    }

    .grid-item.simple:nth-child(even) a .content_url, .grid-item.simple:nth-child(even) a:visited .content_url {
        color: #999;
    }


.date_dark{
        background: #131313;
    }
        .date_dark .content_tittle{
            text-align: right;
            padding-top: 44px;
            padding-bottom: 4px;
            font-size: 28px;
        }
        .date_dark .content_description{
            color: #fcfcfc;
            background: inherit;
            text-transform: uppercase;
            text-align: right;
            padding-top: 0;
            font-size: 10px;
        }

/**********************************
/**** Footer ****/
footer{
    text-align: center;
    padding: 20px 0 20px;
    position: relative;
    z-index: 9;
}
    footer nav a{
        color: #131313;
        font-family: 'PT Serif Caption', serif;
        font-style: italic;
        text-decoration: none;
    }
        footer nav a:after{
            content: " # ";
            color: #414141;
        }
            footer nav a:last-child:after{
                content: "";
            }

/**********************************
/**** Extra Styles & Overrides ****/
.grid-item.spotify {
    width: 300px!important;
}
@media (min-width: 1820px){
    #content_wrapper{
        width: 1800px;
    }
}
@media (min-width: 1520px) and (max-width: 1819px) {
    #content_wrapper{
        width: 1500px;
    }
}
@media (min-width: 1220px) and (max-width: 1519px) {
    #content_wrapper{
        width: 1200px;
    }
}
@media (min-width: 920px) and (max-width: 1219px) {
    #content_wrapper{
        width: 900px;
    }
}
@media (min-width: 620px) and (max-width: 919px) {
    #content_wrapper{
        width: 600px;
    }
}
@media (max-width: 619px) {
    #content_wrapper{
        width: 90%;
    }
    .grid-sizer, .grid-item{
        width: 100%;
    }
}

/* Twitter Emoji
 ****************/
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
